html {
  scroll-behavior: smooth;
}
.sana-head-h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
.sana-head-pera {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  font-weight: 100;
}
@media (max-width: 768px) {
  .sana-head-pera {
    font-size: 20px;
  }
}
.sana-head-links-but {
  margin: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sana-head-link {
  text-decoration: none;
  padding: 10px;
  border-radius: 25px; 
  line-height: 1.55;
  color: #333333;
  border-color: #dbdbdb;
  margin: 0 10px;
  border-width: 1px;
  padding-left: 20px;
  padding-right: 20px;
 
 
}


@media (max-width: 988px) {
  .sana-head-link {
     font-size: 14px;
    margin: 10px;
    
  }
}

.sana-head-link:hover {
  color: #8305a6;
  text-decoration: none;
}
/* .sana-card-button {
  padding: 10px 16px 10px 16px;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 5px;
}
.sana-card-button:hover {
  background-color: #14a44d;
  color: white;
} */

/* ********************************************************** */

.sana-input_copy_wrapper {
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.sana-input_copy .icon {
  max-width: 25px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
}
.sana-input_copy .icon:hover {
  color: #890d9c;
}

.sana-input_copy .txt {
  width: 80%;
  display: inline-block;
  overflow: hidden;
}

/* *********************button************************* */
.sana-card-button {
  --color: #8c0da2;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.sana-card-button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.sana-card-button::before {
  top: -1em;
  left: -1em;
}

.sana-card-button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.sana-card-button:hover::before,
.sana-card-button:hover::after {
  height: 410px;
  width: 410px;
}

.sana-card-button:hover {
  color: rgb(255, 255, 255);
}

.sana-card-button:active {
  filter: brightness(0.8);
}


/* CardComponent.css */

.cardBox {
  width: 286px;
  height: 355px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(83, 83, 83, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}

/* #sana-card-id {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #000814;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
} */

.cardBox:hover::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 150%;
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #24037d, #5b0a6b, #b750e0);
  background: linear-gradient(to right, #c92fe1, #3f116d, #561076);
  transform-origin: center;
  animation: glowing_401 6s linear infinite;
}

@keyframes glowing_401 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
