.sana-small-con {
  justify-content: center;
  background-color: rgb(249, 241, 251);
  padding: 5px 10px 10px 30px;
  width: 100%;
  margin-top: 100px;
  border-radius: 10px;
}
.sana-stat-h1 {
  font-weight: 700;
}
.first-pera {
  font-size: 17px;
  line-height: 2.1em;
}
.sec-pera {
  margin-bottom: 17px;
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.third-pera {
  color: rgb(116, 116, 116);
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}
.sana-a-tag {
  color: rgb(116, 116, 116);
  text-underline-offset: 4px;
  text-decoration: underline dotted rgba(116, 116, 116, 0.4);
}
.sana-a-tag:hover {
  text-underline-offset: 4px;
  text-decoration: underline dotted rgba(116, 116, 116, 0.4);
  color: black;
}
