.SSA_DASHBOARD_border {
    border-left: 4px solid #73035b;
  }
  
  .SSA_GREY_font {
    color: #000000;
    font-weight: 600;
  }
  
  .ab-btn-classes {
    height: 40px;
    width: 250px;
    background-color: #73035b;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
  }
  
  /* ----------------------------sana button css ------------------------- */
  .sana-welcome-card {
    width: 330px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    padding: 1.2rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: none;
  }
  
  .sana-welcome-card-details {
    color: black;
    height: 100%;
    display: grid;
    place-content: center;
    /* font-size: 10px; */
  }
  
  .sana-welcome-card-button {
    transform: translate(-50%, 125%);
    width: 90%;
    border-radius: 1rem;
    border: none;
    background-color: #6a0f76;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    transform: translate(-50%, 50%);
    opacity: 1;
  }
  
  .sana-welcome-text-body {
    color: rgb(134, 134, 134);
  }
  
  /*Text*/
  .sana-welcome-text-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  /*Hover*/
  .sana-welcome-card:hover {
    border-color: #6b1fa1;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }
  
  .sana-welcome-card:hover .sana-welcome-card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
  }
  .sana-welcome-card-button:hover {
    background-color: #9f16b1;
  }
  