.form_input {
  position: relative;
  width: 100%;
}

.form_input input::placeholder {
  opacity: 0;
}

.form_input input {
  width: 100%;
  height: 60px;
  font-size: 1.2rem;
  padding: 10px;
  padding: 0px 10px;
  outline: none;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 5px;
}

.form_input label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: gray;
  letter-spacing: 0.6px;
  transition: 0.3s;
  padding-left: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.form_input input:focus + label,
.form_input input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 0.8rem;
  color: #71065d;
  background: #fff;
  padding: 0px 7px;
  transform: translateY(-50%) scale(.9);
}

.form_input input:focus {
  border: 2px solid #71065d !important;
}

.form_input span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
