.SSA_Benefit_Bg_Img3{
    background-image: url('https://imagedelivery.net/f5tF3V4WaB6L98qcq1rX5w/8e4e7b96-90bc-4c26-0d3d-957985a1da00/public') ;
    height:"500px";
    background-size: 100% 100%;

}
