* 
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.rs-top_banner-block 
{
  background-color: #f6f6f6;
  overflow: hidden;
  padding-bottom: 60px;
  position: relative;
}




.rs-h1_text 
{
  color: #333;
    font-size: 32px;
    line-height: 40px;
    margin: 0.67em 0;
}

.rs-p_text 
{
  color: #333;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.rs-mainimage 
{


  width: 90%;
  height: 90%;
}