.sana-refferral-header {
  background: linear-gradient(90deg, #e7e7e7 0, #f9f8f8);
  min-height: 400px;
  box-sizing: border-box;
}

.sana_referral_heading span {
  font-size: 40px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .sana_referral_heading span{
    font-size: 2rem; 
  }
}

.sana_referral_heading p {
  font-size: 22px;
  margin-top: 10px;

}
.sana-refferral-header-button {
  background: linear-gradient(273.79deg, #571160 -81.74%, #c717b8 79.83%);
  padding: 17px 35px;
  font-family: sans-serif;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.sana-refferral-header-button:hover {
  background: #95148a;
}

.bring-referral-p {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}

.join-background-img {
  background: url(https://imagedelivery.net/f5tF3V4WaB6L98qcq1rX5w/3a358d2d-59dd-42ab-8e0e-a4a382417700/public)
    no-repeat;
  height: 413px;
  margin: 0 auto;
  overflow: hidden;
  width: 1301px;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .join-background-img {
    width: 90%;
  }
}

.sana-join-content {
  text-align: center;
  color: #fff;
  z-index: 1;
  text-align: center;
  align-items: center;
  margin-top: 120px;
}

.sana-join-content h2 {
  font-size: 36px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .sana-join-content h2 {
    font-size: 24px;
  }
}

.sana-join-content p {
  font-size: 18px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .sana-join-content p {
    font-size: 12px;
  }
}

.sana-join-button1 {
  background: #fff;
  color: #b51a9b;
  padding: 20px 28px;
  z-index: 1;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.sana-join-button1:hover {
  background: linear-gradient(273.79deg, #870987 -81.74%, #c021c0 79.83%);
  color: white;
  position: relative;
}

.sana-join-button2 {
  padding: 20px 28px;
  border: 2px solid white;
  border-radius: 10px;
}

.sana-join-button2:hover {
  background-color: white;
  color: #8b1a8a;
}

.rs_pricing_whyjoin:hover {
  /* box-shadow: 3px 3px 10px  rgb(115,3,91); */
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
        rgba(255, 255, 255, 0.343),
        rgba(255, 255, 255, 2.315)
      )
      padding-box,
    conic-gradient(from var(--angle), #e7ccee82, #d29ac8) border-box;
  border: 2px solid transparent;
  border-radius: 16px;
  /* max-width: 400px; */
  animation: rotate-gradient 3s infinite linear;
}
@keyframes rotate-gradient {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.rs_pricing_whyjoin .rk_jointxt-2:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}
