.dp_affiliate_items {
    border: 2px solid #710765;
    font-size: 20px;
    margin: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px 0px;
}

.dp_affiliate_items h4{
    text-decoration: underline;
    color: #710765;
    margin: 0px;
}

.dp_affiliate_items:hover {
    cursor: pointer;
    color: #710765;
}

.dp_affiliate_items_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dp_campaign_guide_profile_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}