.dp_howtostart_items {
    border: 1px solid gray;
    font-size: 20px;
    padding: 10px 0px;
    margin: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dp_howtostart_items:hover {
    cursor: pointer;
    border: 1px solid #710765;
    color: #710765;
}

.dp_howtostart_items_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dp_campaign_guide_profile_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}