.dp_blog_casestudy_search_container {
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px 0px;
}

.dp_blog_casestudy_search_input {
    outline: none;
    border: none;
    width: 100%;
}


.dp_blog_casestudy_post_heading {
    padding: 5px 0px;
    color: #71065d;
    border-bottom: 5px solid #71065d;
}

.dp_blog_casestudy_post_lists {
    text-decoration: underline;
    padding: 5px 0px;
    font-size: 16px;
    margin: 0px;
}

.dp_blog_casestudy_post_lists:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.dp_blog_casestudy_items {
    list-style-type: none;
    padding: 0px;
}

.stick{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.dp_blog_casestudy_items li {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid gray;
    margin: 15px 0px;
    cursor: pointer;
}

.dp_blog_casestudy_items li:hover {
    color: blue;
    text-underline-offset: 3px;
}




.dp_blog_casestudy_container {
    margin: 0px;
    border: 1px solid #71065d;
    border-radius: 3px;
    min-height: 200px;
}

.dp_blog_casestudy_container p{
    margin: 0px;
    font-size: 20px;
    color: #71065d; 
}

.dp_blog_casestudy_container span{
    color: gray;
}

.dp_blog_casestudy_container:hover {
    cursor: pointer;
}


.dp_blogs_casestudy_imgContainer {
    height: 200px;
}

.dp_blogs_casestudy_imgContainer img {
    height: 100%;
    width: 100%;
}

