.dp_blog_TrafficMonitization_search_container {
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px 0px;
}

.dp_blog_search_input {
    outline: none;
    border: none;
    width: 100%;
}

.dp_blog_post_heading {
    padding: 5px 0px;
    color: #71065d;
    border-bottom: 5px solid #71065d;
}

.dp_blog_post_lists {
    text-decoration: underline;
    padding: 5px 0px;
    font-size: 16px;
    margin: 0px;
}

.dp_blog_post_lists:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.dp_blog_items {
    list-style-type: none;
    padding: 0px;
}

.dp_blog_items li {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid gray;
    margin: 15px 0px;
    cursor: pointer;
}

.dp_blog_items li:hover {
    color: blue;
    text-underline-offset: 3px;
}

.dp_blog_trafficmonitisation_stick{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

/* -x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */

.dp_blog_TrafficMonitisation_container {
    margin: 0px;
    border: 1px solid #71065d;
    border-radius: 3px;
}


.dp_blog_TrafficMonitisation_container p{
    margin: 0px;
    font-size: 20px;
    color: #71065d;
}

.dp_blog_TrafficMonitisation_container span{
    color: gray;
}

.dp_blog_TrafficMonitisation_container:hover {
    cursor: pointer;
}

.dp_blogs_TrafficMonitisation_imgContainer{
    min-height: 200px;
}

.dp_blogs_TrafficMonitisation_imgContainer img{
    width: 100%;
    height: 100%;
}

