.sana-tab-buttons {
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
  }
  #sana-tab-button {
    padding: 10px 20px 10px 20px;
  }
  #sana-tab-button.active {
    border: 3px solid rgb(144, 29, 157);
    border-radius: 30px;
    color: rgb(144, 29, 157);
  }
  
  #sana-tab-button:hover {
    border: 3px solid rgb(122, 8, 135);
    border-radius: 30px;
    color: rgb(144, 29, 157);
  }
  
  /* X-X-X-X-X-X-X-X-X-  PopunderAds  X-X-X-X-X-X-X-X-X-X-X */
  
  .sana_pop-img1 {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .sana-image {
    /* position: absolute; */
    width: 600px;
    display: block;
    height: 500px;
    animation: moveAnimation 4s forwards;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .sana_pop_img-style {
    width: 600px;
    height: 500px;
  }
  .sana_img_fix {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sana_img_pop_main {
    position: relative;
    margin-top: 150px;
  }
  
  .fixed-image {
    width: 600px;
    height: 500px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    z-index: 2;
  }
  
  @media (max-width: 767px) {
    .sana-image {
      width: 100%;
      height: auto;
    }
  
    .fixed-image {
      width: 100%;
      height: auto;
    }
  }
  
  
  @keyframes moveAnimation {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100px, -100px);
    }
  }
  
  .image-visible {
    visibility: visible;
  }
  
  .sana-bottom-button {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    height: 100px;
    border-radius: 10px;
    background: rgb(68, 6, 66);
    background: -moz-linear-gradient(
      90deg,
      rgba(68, 6, 66, 1) 9%,
      rgba(227, 69, 219, 1) 43%,
      rgba(140, 7, 124, 1) 66%,
      rgba(36, 0, 25, 1) 98%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(68, 6, 66, 1) 9%,
      rgba(227, 69, 219, 1) 43%,
      rgba(140, 7, 124, 1) 66%,
      rgba(36, 0, 25, 1) 98%
    );
    background: linear-gradient(
      90deg,
      rgba(68, 6, 66, 1) 9%,
      rgba(227, 69, 219, 1) 43%,
      rgba(140, 7, 124, 1) 66%,
      rgba(36, 0, 25, 1) 98%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#440642",endColorstr="#240019",GradientType=1);
  }
  .sana-Launch-Camp {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    color: rgba(137, 2, 113, 0.767);
    border-radius: 10px;
    margin-right: 10px;
  }
  .sana-Launch-Camp:hover {
    background-color: rgb(128, 26, 144);
    color: white;
  }
  .sana-getCode {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
  }
  
  .sana-getCode:hover {
    background-color: white;
    color: rgb(117, 3, 119);
  }
  
  .sana-mobile-handle {
    padding: 5px;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 40px;
  }
  #sana-mobile-tab-button-desctop {
    border-radius: 30px;
    color: rgb(144, 29, 157);
    padding: 10px 65px 10px 65px;
    margin-right: 10px;
  }
  #sana-mobile-tab-button-desctop.active {
    background-color: rgb(135, 8, 129);
    color: white;
  }
  
  #sana-mobile-tab-button-mobile {
    border-radius: 30px;
    color: rgb(144, 29, 157);
    padding: 10px 50px 10px 50px;
    margin-left: 10px;
  }
  #sana-mobile-tab-button-mobile.active {
    background-color: rgb(122, 8, 135);
    color: white;
  }
  