.SSA_PP_Profile_text_14px{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #4a4a4a;
}
.SSA_PP_Profile_text_20px{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #4a4a4a;
}
.SSA_boxshadow{
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1)
}