.slider-container {
    display: flex;
    align-items: center;
    
    
  }


  .rk_publisher_slider_btn{
    color: black;
    font-size: 40px;
    font-weight: 600;
    border: 0;
    background-color: transparent;
  }
  /* .icons-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
  } */


  /* .icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    transition: transform 10s ease-in-out;
   } */

   .icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
   }









  .rk_publisher_slider_img{
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
    flex-grow: calc(1);
    
  
  }


  .rk_publisher_slider_btn{
    color: black;
    font-size: 40px;
    font-weight: 600;
    border: 0;
    background-color: transparent;
  }
  