.ab-postbackfs {
  font-weight: 500;
}

.ab-ctbtngp {
  height: 40px;
  width: 225px;
  background-color: #000000;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}
.ab-ctbtngp:hover{
    background-color: #474747;
}

.ab-phhwgp {
  height: 100px;
  width: 700px;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 16px 0px;
}

.ab-ctbtngp1 {
  /* background-color: #000000; */
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
}
.ab-ctbtngp1:hover{
    /* background-color: #474747; */
}

/* _____________________Sana css_____________________ */


.radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    /* color: #000000; */
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .radio-button__input:checked + .radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid #ac4cf5;
    color: #d04cf5;
  }
  
  .radio-button__input:checked + .radio-button__label {
    color: #ac4cf5;
  }
  
  .radio-button__label:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.2);
    border-color: #ac4cf5;
    box-shadow: 0 0 10px #ac4cf5;
  }
  