:root {
    --text-darkgray: #333;
    --white: #FFFFFF;
    --purple: #73035B;
  }
  .SSA_BENEFITS_OUTER{
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .SSA_BENEFITS_ICON {
    padding: 9px 11px;
    border-radius: 13px;
    margin-left: 2.4px;
  }
  .SSA_BENEFIT_Text_Black{
  color: #333 !important;
  }
  .SSA_Ad_Benefits_font20px{
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-darkgray);
    font-family: Roboto,sans-serif;
  }
  .SSA_Ad_Benefits_font2rem{
    font-size: 3.2rem;
    font-style: normal;
    /* font-stretch: semi-condensed; */
    font-weight: 800;
    color: var(--text-darkgray);
    /* font-family: Roboto,sans-serif; */
  }
  .SSA_btn_BenefitsAd_main{
    background-color: var(--purple);
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    /* padding: 10px 40px; */
  }
  .SSA_BenefitsAdv_BG_IMG1 {
    background: #EFEFEF url('https://adsterra.com/_nuxt/img/background.587e593.png') no-repeat right;
  }
  .SSA_Ad_Benefits_font2rem_Section2{
    font-size: 2rem;
    color: var(--text-darkgray);
    font-family: Rubik,sans-serif;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
  }
  .SSA_benefits_RoundRadius_card{
  border: 1px solid transparent;
  /* border-radius: 30px; */
  height: 270px;
  }
  .SSA_benefits_font26px_purple{
    font-size: 26px;
    color: var(--purple);
    font-family: Rubik,sans-serif;
    font-style: normal;
    /* line-height: 1.2; */
    font-weight: 500;
    letter-spacing: -.72px;
    line-height: normal;
  }
  .SSA_Ad_Benefits_font19px{
    font-size: 19px;
    line-height: 24px;
  }
  .SSA_Benefit_BG_IMG2{
    background: #EFEFEF url('https://imagedelivery.net/f5tF3V4WaB6L98qcq1rX5w/56863149-6232-41d8-e717-2eef3619f300/public') no-repeat right;  ;
    background-size: 100% ;
  }
  .SSA_Ad_Benefits_font22px{
    font-size: 22px;
    line-height: 24px;
  }
  .SSA_Benefit_Bg_Img3{
  background-size: cover;
  border-radius: 30px;
  }
  .SSA_benefit_font36px{
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--text-darkgray);
    font-family: Rubik,sans-serif;
    margin-bottom: 25px;
    font-style: normal;
  }
  .SSA_imgbgcolor{
    align-items: center;
    background: hsla(0,0%,100%,.2);
    border-radius: 8px;
    height: 80px;
    justify-content: center;
    position: relative;
    width: 80px;
  }
  .SSA_imgbgcolor::before{
    background: rgba(151, 0, 206, 0.8);
    content: "";
    height: 75px;
        filter: blur(42px);
    left: 15px;
    position: absolute;
    top: 15px;
    width: 75px;
    z-index: 1;
  }
  .SSA_benefit_SIX_col_card{
    border-radius:30px;
    height: 290px;
  }
  .ssa-uldot{
    list-style: circle !important;
  }
  .webbackground_theme_for_benefit{
    /* background-image: url(/public/image/background_for_pricing_benefit.png);
     */
     background-color: rgb(0, 0, 0) !important;
    background-size: cover;
  }
  .SSA_Benefit_bg_img_main{
    background-size: cover;
    /* background-color: rgb(0, 0, 0) !important; */
    background: linear-gradient(to top, #000000,rgb(68, 6, 6),rgb(0, 0, 0));
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    /* padding: 100px 0; */
  }
  .as_SSA_Benefit_bg_img_main{
    background-size: cover;
    /* background-color: rgb(0, 0, 0) !important; */
    background: linear-gradient(to bottom, #000000,rgb(0, 0, 0),rgb(34, 6, 18));
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    /* padding: 100px 0; */
  }
  .ssa_benefit-button{
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #73035B;
    border-radius: 5px;
  }
  .ssa_benefit-button:hover{
    background-color: #E3E3E3;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #73035B;
    border-radius: 5px;
  }
  .SSA_Benefit_Bg_Img3{
   background-image: url('https://imagedelivery.net/f5tF3V4WaB6L98qcq1rX5w/9ef93dc7-f115-4833-1638-5cb259dfdb00/public');
  }
 .SSA_go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #73035B;
    border-radius: 0 4px 0 32px;
  }
  .SSA_go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  .SSA_card1 {
    display: block;
    position: relative;
    background-color: #F2F8F9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #73035B;
      height: 62px;
      width: 62px;
      color: white !important;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.45s ease-out;
    }
    &:hover:before {
      transform: scale(21);
    }
  }
  .SSA_card1:hover {
      transition: all 0.3s ease-out;
      color: rgba(255, 255, 255) !important;
      .SSA_benefits_font26px_purple{
        color: rgba(255, 255, 255) !important;
      }
  }
  /*------------sadhana's css--------------*/
  .sana-label {
    margin: 5px;
     width: 380px;
     height: 350px;
     cursor: pointer;
   }
   