.SSA_GRey_Color{
    color: rgb(150, 150, 150) !important;

}

.SSA_Finance_font_20px{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.SSA_Finance_font_16px{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.SSA_Finance_font_14px{
    font-size: 14px !important;
    color: rgb(34, 34, 34);
    line-height: 22px;
    text-align: left;
}

.SSA_finance_borderGrey{
    border: 2px solid rgb(221, 221, 221);
}

.SSA_finance_borderGrey:hover{
    border: 2px solid rgb(158, 37, 160);
}