.ab_divbox {
    padding: 30px 15px;
    border-radius: 8px;
    margin: 3px 3px 16px 3px;
    background-color: white;
    text-align: center;
    width: 190px;
}

.ab_text {
    font-size: 20px;
    font-weight: 600;
}

.ab_divnumber {
    font-size: 25px;
}

.ab_divtext {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ab_divbackground {
    background-color: #f6f6f6;
}