.SSA-campaign_name_input{
  padding:7px 10px;
  border: 1px solid rgb(198, 198, 198);
  width: 100%;
  border-radius: 5px;
  margin: 3px;
}
.SSA-campaign_name_selecter {
margin: 3px;
}

.SSA_Campaign_SmallText{
  font-size: 18px;
  color: #6c757d;

}
.SSA_Campaign_SmallText2{
  font-size: 18px;
  color: #363636;
font-size: 600;
}
.SSA_CAmpaign_border{
  border: 1px solid rgb(198, 198, 198);
  border-radius: 5px;
  padding: 10px;
  margin: 3px;

}

.SSA_Campaign_custom-file-upload {
  border-bottom: 1px dotted #000;
  cursor: pointer;
font-size: 14px;
  color: #525252;
  
  font-family: Arial, sans-serif;
}

.SSA_Campaign_custom-file-upload input {
  display: none;
}

.SSA_Campaign_custom-file-upload:hover {
  color: purple;
}

.SSA_Campaign_Checkbox{
  width: 1.4em;
  height: 1.4em;
}

.SSA_Campaign_budget-container {
  display: flex;
  align-items: center;
}

.SSA_MarginRight10px {
  margin-right: 10px; /* Adjust spacing between text and SSA_Campaign_line */
}

.SSA_Campaign_line {
  border-top: 1px solid #bdbdbd; /* Change color or style as needed */
  flex: 1;
}

.SSA_Campaign_ContinueBtn{
  background-color: #202020;
  color: rgb(255, 255, 255) !important;
  border-radius: 5px;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  margin: 3px;
}
.btn .SSA_Campaign_ContinueBtn.disabled {
/* Styles for the disabled button */
color:#202020 !important;
background-color: #7f7f7f !important; /* Change to your desired background color */
/* Add any other styles for the disabled button */
}
.SSA_Campaign_ContinueBtn:hover{
background-color: #b516ab;
color: rgb(255, 255, 255) !important;
border-radius: 5px;
border: none;
padding: 10px 24px;
font-size: 16px;
cursor: pointer;
margin: 3px;
}


.SSA_Campagin_Sticky{
  position: sticky;
  top: 12px;
}

.SSA_campaign_1remFont{
  font-size: 1.2rem;
}

.SSA_campaign_0remFont{
  font-size: 1rem;
  padding-top: 2px;
}

@keyframes borderAnimation {
  0% {
    border-color: border-purple-600;
  }
  50% {
    border-color: #ff0000; /* Change to your desired color at the midpoint of the animation */
  }
  100% {
    border-color: border-purple-600;
  }
}

.border-animate {
  animation: borderAnimation 2s infinite; /* You can adjust the duration and iteration count as needed */
}


.SSA_select-option 
{
  border: 2px solid rgba(71, 71, 71);
  color: purple;
}
.SSA_select-option:focus
{
  border: 2px solid rgba(71, 71, 71);
  color: purple;
} 



  

@keyframes borderAnimation {
    0% {
      border-color: #666; /* Initial border color */
    }
    50% {
      border-color: #ff0000; /* Change to your desired color at the midpoint of the animation */
    }
    100% {
      border-color: #666; /* Back to the initial border color */
    }
  }
  
  .animated-border .react-select__control {
    border-width: 2px; /* Adjust the border width as needed */
    animation: borderAnimation 2s infinite; /* Adjust the duration and iteration count as needed */
  }

  .SSA-select-placeholder{
    color: #000000;
  }
  .placeholder:text-black{
    color: #000000 !important;
  }
  .css-1jqq78o-placeholder{
    color: #000000 !important;
  }


/* 

  //-------newwww */
  /* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700"); */

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* :root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}
.SSA_BG-Create-Campaign{
  background-color: #e5e5e5;
 
  border-radius: 5px;

}
body {
  font: 18px/1.5 "Open Sans", sans-serif;
  background: rgb(58, 58, 58);
  color: var(--white);
  margin: 1.5rem 0;
}


/* FORM ELEMENTS

.SSA-CreateCAmpaign-Form h1 {
  margin-bottom: 1.5rem;
}

.SSA-CreateCAmpaign-Form li,
.SSA-CreateCAmpaign-Form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.SSA-CreateCAmpaign-Form select,
.SSA-CreateCAmpaign-Form input,
.SSA-CreateCAmpaign-Form textarea,
.SSA-CreateCAmpaign-Form button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid #9e0c94;
  color: gray;
  background: #f7f7f7;
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.SSA-CreateCAmpaign-Form textarea {
  height: 170px;
}

.SSA-CreateCAmpaign-Form ::placeholder {
  color: inherit;
  
  opacity: 1;
}

.SSA-CreateCAmpaign-Form select:focus,
.SSA-CreateCAmpaign-Form input:focus,
.SSA-CreateCAmpaign-Form textarea:focus,
.SSA-CreateCAmpaign-Form button:enabled:hover,
.SSA-CreateCAmpaign-Form button:focus,
.SSA-CreateCAmpaign-Form input[type="checkbox"]:focus-visible {
 border: 2px solid rgb(158, 27, 168);
}
.SSA-CreateCAmpaign-Form select:focus,
.SSA-CreateCAmpaign-Form input:focus,
.SSA-CreateCAmpaign-Form textarea:focus,
.SSA-CreateCAmpaign-Form button:enabled:hover,
.SSA-CreateCAmpaign-Form button:focus,
.SSA-CreateCAmpaign-Form input[type="checkbox"]:focus + label {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(158, 27, 168) !important;
}
.SSA-CreateCAmpaign-Form select:focus,
.SSA-CreateCAmpaign-Form input:focus,
.SSA-CreateCAmpaign-Form textarea:focus {
  transform: scale(1.02);
  border: 2px solid rgb(158, 27, 168) !important;
}

.SSA-CreateCAmpaign-Form *:required,
.SSA-CreateCAmpaign-Form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}

.SSA-CreateCAmpaign-Form *:required {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
}

.SSA-CreateCAmpaign-Form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.SSA-CreateCAmpaign-Form *:disabled {
  cursor: default;
  filter: blur(2px);
}



.SSA-CreateCAmpaign-Form .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
    no-repeat center left / 15px 15px;
  padding-left: 20px;
}

.SSA-CreateCAmpaign-Form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.SSA-CreateCAmpaign-Form button {
  font-weight: bold;
}

.SSA-CreateCAmpaign-Form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.SSA-CreateCAmpaign-Form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.SSA-CreateCAmpaign-Form button:enabled:hover .back,
.SSA-CreateCAmpaign-Form button:focus .back {
  transform: translate(-50%, -50%);
}

.SSA-CreateCAmpaign-Form button:enabled:hover .front,
.SSA-CreateCAmpaign-Form button:focus .front {
  transform: translateX(110%);
}


/* CUSTOM CHECKBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– 
.SSA-CreateCAmpaign-Form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.SSA-CreateCAmpaign-Form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.SSA-CreateCAmpaign-Form input[type="checkbox"] + label::before,
.SSA-CreateCAmpaign-Form input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
}

.SSA-CreateCAmpaign-Form input[type="checkbox"] + label::before {
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white);
}

.SSA-CreateCAmpaign-Form input[type="checkbox"]:checked + label::before {
  background: var(--red);
}

.SSA-CreateCAmpaign-Form input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(gray);
  border-right: 2px solid var(--white);
  /* transform: rotate(45deg); 
}


/* FOOTER

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– 
@media screen and (min-width: 600px) {
  .SSA-CreateCAmpaign-Form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .SSA-CreateCAmpaign-Form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .SSA-CreateCAmpaign-Form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .SSA-CreateCAmpaign-Form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .SSA-CreateCAmpaign-Form .required-msg {
    display: block;
  }
}

@media screen and (min-width: 541px) {
  .SSA-CreateCAmpaign-Form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .SSA-CreateCAmpaign-Form input[type="checkbox"]:checked + label::after {
    top: 3px;
  }
} */