.SSA_DASHBOARD_border{
    border-left: 4px solid #73035b;
}

.SSA_GREY_font{
    color: #535353;

}

.ab-btn-classes {
    height: 40px;
    width: 250px;
    background-color: #73035b;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

