
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
*{
 font-family: 'Nunito Sans', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {

  --primary-color: #71065d;
  --secondary-color: #000;
  --tertiary-color: #fff;
  --primary-btn: #FFC107;
  --secondary-btn: #000;
  --main-heading: 60px;
}

.bgreferals {
  background-color: #4E9FAA;
  color: white;
}

.bgmaindash {
  background-color: rgb(225, 222, 222);
  color: black;
}

.bgwebsticsbutton {
  background-color: #311DB2;
}




.webcl_theme {
  color: rgb(115 3 91) !important;
}

.webbackground_theme {
  background-color: rgb(115 3 91) !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pro-sidebar::-webkit-scrollbar {
  display: none !important;

}

/* Hide scrollbar for IE, Edge and Firefox */
.pro-sidebar {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}



.pro-sidebar-layout::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pro-sidebar-layout {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.idsgfkhbdskhbvkdsh {
  margin-bottom: 100px !important;
}

.buttonClickanimatioonstart {
  color: rgb(255, 0, 0);
  background-color: rgba(83, 11, 11, 0.185);
  width: 35px;
  height: 20px;
  border-radius: 3px;
}
.buttonClickanimatioonend {
  color: rgb(22, 133, 22);
  background-color: rgba(2, 39, 2, 0.123);
  width: 35px;
  height: 20px;
  border-radius: 3px;
}