
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .error-message {
    @apply text-xs text-red-500 p-0 m-0;
  }
}


html,
body,
#root,
.SSA_app,
.content {
  height: 100%;
  width: 100%;
  /* font-family: "Source Sans Pro", sans-serif; */
  flex:1;
  overflow-y: auto;
}

.SSA_app {
  display: flex;
  position: relative;
  justify-content: center;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  width: 3px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sideBar {
  height: 100%;
}
